/*-----------------------------------------------------------------
    General styles
-----------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    float: left;
}
.clearfix::before,
.clearfix::after,
.container::before,
.container::after,
[class*='layout-']::before,
[class*='layout-']::after{
    clear: both;
    display: table;
    content: '';
}

.layout-3-cols > .column {
    width: 33.33%;
}

.layout-2-cols > .column {
    width: 50%;
}

.layout-2_3-cols > .column-2 {
    width: 40%;
}

.layout-2_3-cols > .column-3 {
    width: 60%;
}

img {
    max-width: 100%;
    display: block;
}

h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 16px;
}

h2:after {
    content: '';
    display: table;
    position: absolute;
    background-color: #24BA9C;
    height: 8px;
    width: 362px;
    margin-top: 8px;
}

.green-text {
    color: #24B99F;
}

.special-text {
    font-weight: 700;
}
/*-----------------------------------------------------------------
    Site header
-----------------------------------------------------------------*/

.site-header {
    background-color: #000;
    position: relative;
    padding: 13.5px 0;
    text-transform: uppercase;
}

.site-header .logo {
    color: white;
    font-weight: 700;
    word-spacing: 3px;
}

.site-nav {
    text-align: right;
}

.menu ul {
    list-style: none;
}

.menu > li {
    display: inline-block;
    font-weight: 700;
    word-spacing: 3px;
    margin-left: 40px;
    letter-spacing: 1px;
}

.menu li > a {
    color: #fff;
    text-decoration: none;
}

.sub-menu {
    display: block;
    position: absolute;
    background-color: #000;
    text-transform: none;
    font-weight: 400;
    top:58px;
    transform: translateX(-21px);
    text-align: left;
    padding: 11px 0 4px 0;
}

.sub-menu > li {
    padding: 6px 25px 6px 15px;
}

.sub-menu::before {
    content: '';
    display: table;
    position: absolute;
    top: -22px;
    left: calc(50% - 16px);
    border: 10px solid transparent;
    border-bottom: 12px solid #000;
}

/*-----------------------------------------------------------------
    Carousel
-----------------------------------------------------------------*/

.carousel {
    background: #fbfbfb;
    background: linear-gradient(to bottom, #fbfbfb 0%, #fbfbfb 50%, #cac9d1 100%);
}

.carousel-img {
    max-width: none;
    width: 140%;
    margin-left: -10%;
    padding: 80px 0 12px 0;
}

.carousel-text {
    padding: 154px 158px 0 67px;
    text-align: center;
}

.carousel-text h1 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
}

.carousel-text p{
    padding: 30px 0 50px 0;
    line-height: 24px;
}

.carousel-text a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px 10px 50px;
    background-color: #24B99F;
    color: #fff;
    border-radius: 10px;
    font-size: 30px;
}

.carousel-wrapper {
    position: relative;
}

.arrow {
    position: absolute;
    font-size: 86px;
    color: #2CC1A7;
    top: 50%;
    margin-top: -47px;
    cursor: pointer;
}

.arrow-left {
    left: 5px;
}

.arrow-right {
    right: 5px;
}

/*-----------------------------------------------------------------
    Offert
-----------------------------------------------------------------*/
.offert {
    background-color: #FAFAFA;
}

.offert .container {
    padding-top: 30px;
    padding-bottom: 80px;
}

.offert .layout-3-cols {
    margin: 0 -17px;
}

.offert .column {
    padding: 0 17px;
    position: relative;
}

.offert .column img {
    max-width: none;
    width: 101%;
}

.offert .column h3::after {
    content: '';
    display: table;
    position: absolute;
    height: 8px;
    width: 160px;
    background-color: #26C5AC;
}

.offert .column h3 > span {
    text-transform: uppercase;
}

.offert-item-img div {
    position: absolute;
    padding: 0 13px 0 19px;
    width: 100%;
    bottom: 18px;
    left: 0;
}

.offert-item-img h3 {
    background-color: rgba(255,255,255,0.4);
    height: 100%;
    width: 100%;
    padding: 14px 0 35px 10px;
    position: relative;
}

.offert-inputs div {
    border: 1px solid #d9d9d9;
}

.offert-inputs h3 {
    margin: 30px 0 27px 17px;
    word-spacing: 5px;
}

.offert-inputs p {
    line-height: 23px;
    margin: 20px 0 0 17px;
    font-size: 16px;
}

.offert-inputs p:last-child {
    margin-bottom: 50px;
}

/*-----------------------------------------------------------------
    Price
-----------------------------------------------------------------*/

.price {
    background-color: #EEEEEE;
    color: #C6C6C6;
}

.price .container {
    padding-top: 50px;
    padding-bottom: 80px;
}

.price h2 {
    padding-bottom: 100px;
    color: #585858;
}

.price .layout-3-cols {
    margin: 0 -15px;
}

.price .column {
    padding: 0 15px;
}

.price-wrapper {
    border: 2px solid #D4D4D4;
    background-color: #F8F8F8;
    position: relative;
    text-align: center;
}

.price-wrapper > div {
    min-height: 500px;
}

.price-wrapper span {
    position: absolute;
    display: table;
    border-radius: 50%;
}

.price-wrapper span:nth-of-type(1) {
    height: 60px;
    width: 60px;
    background-color: #fefefe;
    border: 3px solid #D4D4D4;
    top: -45px;
    left: calc(50% - 30px);
}

.price-wrapper span:nth-of-type(2) {
    height: 30px;
    width: 30px;
    background-color: #C1C1C1;
    top: -30px;
    left: calc(50% - 15px);
}

.price-wrapper h3{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 31px;
    color: #25C69E;
}

.price-price {
    margin: 30px auto 0 auto;
    width: 150px;
    height: 150px;
    background-color: #FEFEFE;
    border: 3px solid #D4D4D4;
    border-radius: 50%;
}

.price-price p:first-child {
    font-weight: 700;
    font-size: 50px;
    padding-top: 30px;
}

.price-price p:first-child sub {
    font-size: 50px;
    vertical-align: top;
}

.price-price p:first-child sup {
    font-size: 20px;
    vertical-align: top;
}

.price-price p:last-child {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.price-wrapper ul {
    margin-top: 35px;
    background-color: #F0F0F0;
    color: #A1A1A1;
    list-style: none;
    font-size: 27px;
}

.price-wrapper li {
    padding: 10px 0;
}

.price-wrapper li:nth-child(odd) {
    background-color: #E3E3E3;
}

.price-wrapper a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #27C6AB;
    color: #fbfbfb;
    padding: 9px 36px;
    border-radius: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
}

.price-wrapper-active {
    background-color: #27C6AB;
    border-color: #27C6AB;
}

.price-wrapper-active span:nth-of-type(1) {
    background-color: #27C6AB;
    border-color: #27C6AB;
}

.price-wrapper-active span:nth-child(2) {
    background-color: #F8F8F8;
}

.price-wrapper-active .price-price {
    color: #27C6AB;
    border-color: #27C6AB;
}

.price-wrapper-active li:nth-child(odd) {
    background-color: #fefefe;
}

.price-wrapper-active a {
    background-color: #fefefe;
    color: #27C6AB;
}

/*-----------------------------------------------------------------
    Contact
-----------------------------------------------------------------*/

.contact{
    background-color: #FDFDFD;
}

.contact .container {
    padding-top: 35px;
}

.contact h2 {
    padding-bottom: 67px;
}

.contact input[type=text],
.contact input[type=email],
.contact textarea {
    display: block;
    width: 100%;
    border: 1px solid #A6E2D2;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 15px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
}

.contact textarea {
    height: 220px;
    resize: none;
}

::-webkit-input-placeholder {
    color: #CECECE;
}
::-moz-placeholder {
    color: #CECECE;
}
:-ms-input-placeholder {
    color: #CECECE;
}

.contact .column-2 {
    padding-left: 75px;
}

.contact .column-2 img {
    width: 75%;
}

.contact input[type=checkbox]{
    display: none;
    user-select: none;
}

.contact input[type=checkbox] + label {
    border: 1px solid #A6E2D2;
    height: 55px;
    width: 55px;
    display:inline-block;
    float: left;
    margin-right: 15px;
}

.contact input[type=checkbox]:checked + label {
    background-image: url("../images/form_ok.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contact .column-2 p {
    font-size: 23px;
    color: #B0B0B0;
    display: inline;
}

.contact button {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    background-color: #24B99F;
    color: #FEF5FE;
    border: none;
    border-radius: 10px;
    padding: 18px 0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 600;
}

/*-----------------------------------------------------------------
    Footer
-----------------------------------------------------------------*/

.site-footer {
    color: #999999;
}

.site-footer .container {
    padding: 75px 0;
}

.site-footer .column-2 {
    padding-left: 75px;
}

.site-footer .social img {
    display: inline-block;
    float: left;

}

.site-footer .column-3 > span{
    font-size: 20px;
    word-spacing: 1px;
    vertical-align: bottom;
    line-height: 35px;
}

.site-footer .column-2 > span{
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    float: right;
    line-height: 35px;
}
